@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato-ExtraLight.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'M-Bold';
    src: url(../fonts/Merriweather-Bold.ttf);
}

@font-face {
    font-family: 'S-Regular';
    src: url(../fonts/SedgwickAve-Regular.ttf);
}

@font-face {
    font-family: 'MB';
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'MR';
    src: url(../fonts/Montserrat-Regular.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    bottom: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

header .shapka {
    display: flex;
    justify-content: space-evenly;
}

header .btn img {
    height: 70px;
}

header .btn button {
    color: #f87932;
    padding: 10px 30px;
    border-radius: 0px 0px 15px 15px;
    border: none;
    background-color: #FFFFFF;
    font-size: 20px;
    font-family: 'Lato';
    font-weight: bold;
    letter-spacing: 3px;
}

header .btn1 button {
    color: #f87932;
    padding: 10px 30px;
    border-radius: 0px 0px 15px 15px;
    border: none;
    background-color: #FFFFFF;
    font-size: 20px;
    font-family: 'Lato';
    font-weight: bold;
    letter-spacing: 3px;
    transition: background-color 0.4s, box-shadow 0.4s;
}

header .btn1 button:hover {
    background-color: #f87932;
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #f06a1d;
    color: #FFFFFF;
}

header {
    background-image: url(../img/fon.png);
    background-size: cover;
    height: 1107px;
}

header .text h2 {
    font-family: 'M-Bold';
    font-size: 80px;
    color: #39BFA7;
}

header .text h3 {
    font-family: 'M-Bold';
    font-size: 80px;
    color: #f87932;
}

header .foto img {
    width: 100%;
    right: 0;
    margin-left: 50%;
}

header .foto,
.text {
    width: 50%;
}

.part2 .container {
    display: flex;
}

header .text .btn2 button {
    color: #FFFFFF;
    padding: 15px 30px;
    border: none;
    background-color: #f87932;
    font-size: 20px;
    font-family: 'Lato';
    font-weight: bold;
    letter-spacing: 3px;
    transition: 0.5s;
    margin-top: 70px;
}

header .btn2 button:hover {
    background-color: #ffffff;
    border-radius: 15px;
    color: #f87932;
    transition: 0.6s;
}

header .text {
    margin-top: 90px;
}

.adventure {
    margin-top: 100px;
}

main .adventure .container {
    display: flex;
    justify-content: center;
}

.adventure .levo,
.pravo {
    width: 50%;
}

.adventure .container .pravo img {
    width: 100%;
}

.adventure .levo h4 {
    font-size: 24px;
    font-family: 'Lato';
    font-weight: 600;
}

.adventure .levo h2 {
    font-size: 60px;
    font-family: 'M-Bold';
    font-weight: 900;
}

.adventure .levo p {
    font-size: 18px;
    font-family: 'Lato';
    letter-spacing: 3px;
    font-weight: 600;
    width: 75%;
    margin-top: 70px;
}

main .adventure .btn2 button {
    color: black;
    padding: 15px 30px;
    background-color: #ffffff;
    font-size: 20px;
    font-family: 'Lato';
    font-weight: bold;
    letter-spacing: 3px;
    border: 1px solid #333;
    transition: 0.5s;
    margin-top: 150px;
}

main .adventure .btn2 button:hover {
    background-color: #f87932;
    color: #ffffff;
    border: 1px solid #fff;
    transition: 0.6s;
}

.adventure .levo .img {
    background-image: url(../img/дорога.png);
    background-size: cover;
    height: 600px;
    width: 720px;
    position: absolute;
    left: -200px;
    bottom: 110px;
}

.adventure .container {
    position: relative;
}

.travel {
    background-image: url(../img/фон\ для\ 3\ блока.png);
    background-size: cover;
    height: 1063px;
    margin-top: 150px;
}

.travel .text h2 {
    color: #fff;
    font-size: 60px;
    font-family: 'M-Bold';
    font-weight: 900;
    margin-top: 40%;
}

.travel .text h3 {
    color: #fff;
    font-size: 60px;
    font-family: 'M-Bold';
    font-weight: 900;
}

.travel .text p {
    color: #fff;
    font-size: 20px;
    font-family: 'Lato';
    letter-spacing: 3px;
    font-weight: 1000;
    margin-top: 30px;
}

.travel .text {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.travel .text img {
    width: 15%;
    margin-top: 90px;
}

.rombiki {
    display: flex;
    margin-top: 2%;
}

.romb {
    width: 180px;
    height: 180px;
    background: #39BFA7;
    transform: rotate(45deg);
    margin-left: 90px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.white {
    width: 160px;
    height: 160px;
    background: white;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.rombiki .r2 {
    width: 45px;
    height: 45px;
    background: #39BFA7;
    border-radius: 5px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.rombiki .r1 {
    width: 50px;
    height: 50px;
    background: #502e08;
    border-radius: 5px;
    margin-right: 50px;
    padding: 3px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.rombiki .r2 p {
    color: #fff;
    font-size: 20px;
    font-family: 'Lato';
    font-weight: bold;
    transform: rotate(-45deg);
}

.rombiki .text {
    font-size: 28px;
    font-family: 'Lato';
    font-weight: bold;
    transform: rotate(-45deg);
    text-align: center;
    margin-left: 10px;
}

.rombiki .text-1 {
    font-size: 28px;
    font-family: 'Lato';
    font-weight: bold;
    transform: rotate(-45deg);
    text-align: center;
}

.blog .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 300px;
}

.blog .container .text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.blog .container h2 {
    display: flex;
    justify-content: center;
    font-family: 'MB';
    font-weight: 700;
    font-size: 50px;
}

.blog .container h3 {
    display: flex;
    justify-content: center;
    font-family: 'MR';
    font-weight: 700;
    font-size: 30px;
    margin-top: 25px;
}

.blog .container .text p {
    display: flex;
    justify-content: center;
    font-family: 'Lato';
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 15px;
    margin-top: 25px;
}

.blog .container .text img {
    width: 20%;
    margin-left: 40%;
    margin-top: 25px;
}

.blog .img {
    display: grid;
    grid-template-columns: repeat(4, 282px);
    grid-template-rows: repeat(2, 282px);
    gap: 20px;
    padding: 50px 0;
}

.blog .img .image:nth-child(1) {
    background-image: url(../img/image\ \(2\).png);
    background-size: cover;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 1;
}

.blog .img .image:nth-child(2) {
    background-image: url(../img/image_2024-06-17_00-49-48.png);
    background-size: cover;
    background-position: center;
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 2;
}

.blog .img .image:nth-child(3) {
    background-image: url(../img/image_2024-06-17_00-49-56.png);
    background-size: cover;
    background-position: center;
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 1;
    grid-column-end: 5;
}

.blog .img .image:nth-child(4) {
    background-image: url(../img/image_2024-06-17_00-49-09.png);
    background-size: cover;
    background-position: center;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 2;
}

.blog .img .image:nth-child(5) {
    background-image: url(../img/image_2024-06-17_00-49-18.png);
    background-size: cover;
    background-position: center;
    grid-row-start: 2;
    grid-column-start: 3;
    grid-row-end: 3;
    grid-column-end: 4;
}

.blog .img .image:nth-child(6) {
    background-image: url(../img/image_2024-06-17_00-49-38.png);
    background-size: cover;
    background-position: center;
    grid-row-start: 2;
    grid-column-start: 4;
    grid-row-end: 3;
}

.blog .container .btn {
    display: flex;
    justify-content: center;
}

main .blog .btn button {
    color: black;
    padding: 15px 30px;
    background-color: #ffffff;
    font-size: 20px;
    font-family: 'Lato';
    font-weight: bold;
    letter-spacing: 3px;
    border: 1px solid #333;
    transition: 0.5s;
}

main .blog .btn button:hover {
    background-color: #f87932;
    color: #ffffff;
    border: 1px solid #fff;
    transition: 0.6s;
}

.roadmap {
    background: url(../img/фон\ для\ 5\ блока.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 75px;
}

.roadmap .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid #fff;
}

.roadmap .container h2 {
    font-family: 'M-Bold';
    font-size: 60px;
    font-weight: 900;
    color: #FFFFFF;
    margin-top: 50px;
    margin-bottom: 20px;
}

.roadmap .container .welcome {
    width: 157px;
    height: 23px;
    background: url(../img/image_2024-06-17_01-25-40.png) no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}

.roadmap .container p {
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 200;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
    letter-spacing: 3px;
}

.roadmap .container .pravo {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.roadmap .container .pravo h3 {
    font-family: 'S-Regular';
    font-size: 60px;
    font-weight: 600;
    color: #39BFA7;
}

.roadmap .container .pravo .card {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.roadmap .container .pravo .card .nomer {
    font-family: 'S-Regular';
    font-size: 70px;
    font-weight: 400;
    color: #fff;
    margin-right: 10px;
}

.roadmap .container .pravo .card .data .mounth {
    font-family: 'S-Regular';
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    display: flex;
    justify-content: start;
}

.roadmap .container .pravo .card .data .slova {
    font-family: 'M-Bold';
    font-weight: 900;
    font-size: 30px;
    color: #fff;
}

.roadmap .container button {
    color: #fff;
    padding: 15px 30px;
    border: none;
    background-color: #f87932;
    font-size: 20px;
    font-family: 'Lato';
    font-weight: bold;
    letter-spacing: 3px;
    transition: 0.5s;
    margin-bottom: 40px;
}

.roadmap .container button:hover {
    background-color: #fff;
    border-radius: 15px;
    color: #f87932;
    transition: 0.6s;
}

.join .container .text h2 {
    color: black;
    font-family: 'M-Bold';
    font-size: 60px;
    margin-top: 4%;
}

.join .container .text img {
    width: 20%;
    margin-top: 1%;
}

.join .container .text p {
    color: black;
    font-family: 'Lato';
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin-bottom: 1%;
    margin-top: 2%;
    font-weight: bold;
}

.join .container .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.join .container .form {
    display: flex;
    margin-top: 4%;
    margin-bottom: 5%;
    margin-right: 150px;
}

.join .container .form .levo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.join .container .form .pravo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.join .container .form .levo,.pravo {
    width: 50%;
}

.join .container .form .levo .name p {
    font-family: 'Lato';
    font-size: 20px;
    margin-bottom: 10%;
}

.join .container .form .pravo .name p {
    font-family: 'Lato';
    font-size: 20px;
    margin-bottom: 10%;
}

.join .container .form .levo input {
    border: 1px solid #39BFA7;
    margin-bottom: 25%;
    width: 100%;
    padding: 10% 100%;
}

.join .container .form .pravo input {
    border: 1px solid #39BFA7;
    margin-bottom: 25%;
    width: 100%;
    padding: 10% 100%;
}

.join .container .btn {
    display: flex;
    justify-content: center;
}

.join .container .btn button {
    color: #fff;
    padding: 15px 30px;
    border: none;
    background-color: #f87932;
    font-size: 20px;
    font-family: 'Lato';
    font-weight: bold;
    letter-spacing: 3px;
    transition: 0.5s;
    margin-bottom: 40px;
}
.join .container .btn button:hover {
    background-color: #39BFA7;
    border-radius: 15px;
    color: #fff;
    transition: 0.6s;
}

footer{
    background: #151C21;
    padding-top: 5%;
    margin-top: 5%;
}

footer .container .sleva{
    display: flex;
    margin-bottom: 5%;
}

footer .container .sleva .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .container .sleva .logo, .text{
    width: 25%;
}

footer .container .sleva .logo img{
    width: 40%;
}

footer .container .sleva .text h2{
    font-family: 'Lato';
    font-size: 20px;
    color: white;
}

footer .container .sleva .text p{
    font-family: 'MR';
    font-size: 16px;
    color: white;
}

footer .container .sleva .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .container hr{
    border: 1px solid #414141;
}

footer .container .sprava{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

footer .container .sprava h2{
    font-family: 'MR';
    font-size: 16px;
    margin-top: 5%;
}

footer .container .sprava p{
    font-family: 'MR';
    font-size: 16px;
    margin-top: 1%;
    margin-bottom: 2%;
}

footer .container .sprava .icon img{
    width: 25%;
    margin-left: 6%;
}